
@font-face {
    font-family: "random little things";
    src: url("../public/fonts/EuropeanTypewriter.ttf") format("truetype");
}


.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	background-color: rgb(211, 180, 133);
	background-size: cover;
	font-size: 2em;
	min-height: calc(100vh - 78px);
	margin-top: 78px;
	font-family: 'random little things';
}

.background_title {
	border-radius: 20%;
    background-color: #e0e7bf;
	font-size: 28px;
	font-family:'random little things';
}
