
.canvasWrapper {
	position: relative;
	justify-content:center;
	top: 4vh;
	width: 1070px;/* canvas + border */
	display: flex;
	justify-content: center;

	background-color: rgba(255, 255, 255, 0.1);
	border: 35px  ridge black;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* light shadow */


	z-index: 6;/* whatever happens, I want the game to be playable */
  }


.colorButton {
	width: 30px;
	height: 30px;
	margin-bottom: 5px;
	border-radius: 50%;
	border: 1px solid black;
  }
  
  /* Media Queries for responsive */
  /* @media (max-width: 768px) {
	.color-button {
	  width: 25px;
	  height: 25px;
	}
  }
  
  @media (max-width: 576px) {
	.color-button {
	  width: 20px;
	  height: 20px;
	}
  }
  
  @media (max-width: 400px) {
	.color-button {
	  width: 15px;
	  height: 15px;
	}
  }
   */